body {
  font-family: "orbitron", sans-serif;

  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  height: 100vh;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.game-title {
  position: absolute;
  top: 20px;
  font-family: "press start 2p", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px #dbeafe;
  display: inline-block;
  white-space: nowrap;
  animation: bounce 1.5s ease-out;
  z-index: 10;
}
.worddisplay {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  animation: fadeInWord 1s ease-in-out;
  margin-bottom: 1.5rem;
}

.game-card {
  padding: 1.5rem;
  background-color: #fdbe02;
  border-radius: 20px;
  width: fit-content;
}
.game-content {
  padding: 16px;
}

.game-text {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.guessinput {
  font-size: 1.2rem;
  outline: none;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 6px;
  width: 100%;
  max-width: 120px;
  transition: border-color 0.2s ease-in-out;
  margin-bottom: 1.5rem;
}

.guess-input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

.play-button {
  background-color: #3b82f6;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.play-button:hover {
  background-color: #2563eb;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.gamecontent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.game-left {
  flex: 1;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.game-right {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.hangman {
  position: relative;
  width: 100%;
  height: 100%;
}

.hangman-step {
  position: absolute;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.hangman-step.visible {
  visibility: visible;
  opacity: 1;
}

.hangman-step.hidden {
  visibility: hidden;
  opacity: 0;
}

/* Specific positioning for each part of the hangman */
.hangman-step.rope {
  top: -40px;
  left: 60%;
  transform: translateX(-50%);
  width: 20px;
  height: auto;
}

.hangman-step.head {
  top: 80px;
  left: 60%;
  width: 90px;
  transform: translateX(-50%);
  z-index: 2;
}
.hangman-step.eyes {
  position: absolute;
  top: 120px;
  left: 60%;
  width: 50px;
  transform: translateX(-50%);
  z-index: 2;
}
.hangman-step.eyes img {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
.hangman-step.body {
  top: 140px;
  left: 60%;
  width: 90px;
  transform: translateX(-50%);
  z-index: 1;
}

.hangman-step.left-arm {
  top: 130px;
  left: 45%;
  width: 35px;
  transform: translateX(-60%);
}

.hangman-step.right-arm {
  top: 130px;
  left: 75%;
  width: 35px;
  transform: translateX(-40%);
}

.hangman-step.left-leg {
  top: 170px;
  left: 45%;
  width: 35px;
  transform: translateX(-20%);
}

.hangman-step.right-leg {
  top: 170px;
  left: 75%;
  width: 35px;
  transform: translateX(-95%);
}
